<yaga-map [zoom]="11" [lat]=latitude [lng]=longitude [minZoom]="1"
[maxZoom]="16" (click)="handleEvent('click', $event);">
	<yaga-zoom-control></yaga-zoom-control>
	<yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
	<ng-container *ngFor="let wayPoint of intermediatePoints$ | async">
		<yaga-marker [lat]=wayPoint.latitude [lng]=wayPoint.longitude>
			<yaga-icon [iconUrl]=markerIcon
				[iconSize]="[25, 41]"
				[iconAnchor]="[13, 41]"
				[shadowUrl]=markerIconShadow></yaga-icon>
			<yaga-popup>This is the content of the popup</yaga-popup>
		</yaga-marker>
	</ng-container>
	<yaga-polyline [latLngs]=latlngs></yaga-polyline>
	<yaga-tile-layer [url]="'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'"></yaga-tile-layer>
</yaga-map>