<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" opened>
	
		<mat-card>
  			<mat-form-field>
    			<input matInput placeholder="Free time You have?" type="number" [formControl]="freeTimeField">
    			<span matSuffix>&nbsp;minute</span>
  			</mat-form-field>  		
  			<div fxLayout="row">
  				<mat-input-container fxFlex>
					<input matInput placeholder="Start coordinates" readonly [value]="startPoint">
	  			</mat-input-container>
  				<mat-input-container fxFlex *ngIf="!isRoundTrip">
					<input matInput placeholder="End coordinates" readonly [value]="endPoint">
	  			</mat-input-container>
	  		</div>
	  		<mat-checkbox [(ngModel)]="isRoundTrip">Round trip</mat-checkbox>
  			<br>
			<div fxLayout="row" fxLayoutAlign="end center" >
				<mat-form-field fxFlex>
				  <mat-select placeholder="choose POI type" [(ngModel)]="poiTypeToCollect">
				    <mat-option>-- None --</mat-option>
				    <ng-container *ngFor="let poiCategory of poiCategories">
				    	<mat-optgroup [label]="poiCategory.name">
				    		<ng-container *ngFor="let poiType of poiCategory.typeList">
				    			<mat-option [value]="poiType">{{poiType.title}}</mat-option>
				    		</ng-container>
				    	</mat-optgroup>
				    </ng-container>
				  </mat-select>
				</mat-form-field>
				<div fxFlex *ngIf="poiTypeToCollect !== null">
					<button mat-raised-button (click)="poiTypeToCollect = null">clear POIs</button>
				</div>
			</div>
			<div *ngIf="routeLength > 0">
				Route length is <strong>{{routeLength}} meter</strong> and the duration is <strong>{{routeDuration}}</strong> long
			</div>
			<h4>You can save your route:</h4>
			<div fxLayout="row" fxLayoutAlign="end center" class="saveContainer">
				<mat-form-field fxFlex>
					<input matInput placeholder="Name of the route" [formControl]="routename$" [disabled]="!(startPoint && endPoint)">
					<mat-error *ngIf="routename$.invalid">The length of the route name has to be between 5-20 characters</mat-error>
				</mat-form-field>
				<div fxFlex>
					<button mat-raised-button color="primary" [disabled]="!( routename$.valid && startPoint && endPoint)" (click)="save($event)">Save Route</button>
				</div>
			</div>
		</mat-card>
		
	
	</mat-sidenav>
	<app-map></app-map>
</mat-sidenav-container>